*{
  background-color: black;
  max-width: 560px;
  max-height: 560px;
}

.bodyDiv{
  /* display: flex; */
}

#wrapperDiv{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.rowGrid {
    border: 1px solid gray;
    min-width: 10px;
    min-height: 20px; 
    display: inline-block;
  }

.cell{
  border: 0.5px solid grey;
  border-left: 0px solid red;
  min-width: 10px;
  min-height: 20px; 
}

#rst{
  background-color: aquamarine;
}